body {
  font-family: "Arial", sans-serif;
  /* Changer la police par défaut */
}

/* Thème clair */
body.light-theme {
  background-color: #f8f9fa;
  color: #212529;
}

body.light-theme .list-group-item {
  background-color: #fff;
  color: #212529;
}

/* Thème sombre */
body.dark-theme {
  background-color: #343a40;
  color: #f8f9fa;
}

body.dark-theme .list-group-item {
  background-color: #495057;
  color: #f8f9fa;
}

body.light-theme .navbar {
  background-color: #f8f9fa !important;
  color: #343a40 !important;
}

body.dark-theme .navbar {
  background-color: #343a40 !important;
  color: #f8f9fa !important;
}

body.light-theme .navbar a {
  color: #343a40 !important;
}

body.dark-theme .navbar a {
  color: #f8f9fa !important;
}

.hidden {
  display: none;
}

.light-theme .table {
  color: #000; /* Couleur de texte noir pour le thème clair */
  background-color: #fff; /* Fond blanc pour le thème clair */
}

.dark-theme .table {
  color: #fff; /* Couleur de texte blanche pour le thème sombre */
  background-color: #333; /* Fond foncé pour le thème sombre */
}

.fixed-top {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

/* Encadrer la fonction updateFinancialStatus */
#financialStatus {
  font-family: "Arial", sans-serif;
  /* Changer la police */
  font-size: 16px;
  /* Taille du texte */
  background-color: #f8f9fa;
  /* Couleur de fond légère */
  border: 1px solid #ced4da;
  /* Bordure en gris */
  padding: 10px;
  /* Espacement intérieur */
  margin-bottom: 20px;
  /* Marge en bas */
}

/* Style pour les modals en mode sombre */
.dark-theme .modal-content {
  background-color: #343a40;
  color: #f8f9fa;
  /* Couleur du texte en mode sombre */
}

.dark-theme .modal-header {
  background-color: #343a40;
  border-bottom: 1px solid #495057;
  color: #f8f9fa;
  /* Couleur du texte en mode sombre */
}

.dark-theme .modal-footer {
  background-color: #343a40;
  border-top: 1px solid #495057;
  color: #f8f9fa;
  /* Couleur du texte en mode sombre */
}

.dark-theme .close {
  color: #f8f9fa;
  /* Couleur de l'icône de fermeture en mode sombre */
}

/* Styles pour le mode sombre */
.dark-theme #financialStatus {
  border: 1px solid #495057;
  /* Bordure en couleur sombre */
  color: #f8f9fa;
  /* Couleur du texte en mode sombre */
  background-color: #343a40;
  /* Couleur de fond sombre */
}